/* nav section */
.nav {
    display: block;
    background-color: #edeced;
    padding: 1rem 2rem;
}

header .logo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: #fa643f;
}

header .menu>ul {
    width: 100%;
    position: relative;
    font-size: 20px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 30px;
}

header .menu a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
}

.menu a:visited {
    color: #4c849b;
}

.menu a:hover {
    color: #fa643f;
}

.menu a:active {
    color: #badbf3;
}

#contact-item {
    margin-right: 0px;
}

.menu a.current {
    color: lightskyblue;
}

/* content section */

.content {
    display: block;
    padding: 2rem 4rem;
    /* height = vh - nav padding - logo font size - footer height */
    height: 50vh - 30% - 15px - 500px;
}

.image {
    position: relative;
    left: 7%;
    transform: translate(5%, 5%);
    max-width: 230px;
    border-radius:5%
}

.text-content {
    display: inline-block;
    vertical-align: top;
    padding-left: 4rem;
    line-height: 1.5rem;
}

/* footer section */
.footer {
    display: block;
    min-height: 200px;
    background-color: #edeced;
    padding: 1rem 2rem;
}

.footer p {
    text-align: center;
    margin-top: calc(200px - 2rem - 1.5em);
    color: #4c849b;
}