:root {
    --footer-backgroungcolor:#edeced;
    --font-color:#4c849b;
  }

/*container*/

.container {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/imgs/home\ background.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}

/* nav section */

.nav {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    margin-left: 25rem;
}

.homepage-bean {
    width: 50px; /* 调整图像容器的大小 */
    height: 50px;
    overflow: hidden; /* 确保溢出部分隐藏 */
  }
  
  .homepage-bean img {
    width: 100%; /* 让图像占满图像容器 */
    height: auto; /* 保持图像宽高比 */
    animation: scale 2s ease-in-out infinite;/* 添加缩放动画 */
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
.logo h1 {
    /*color: #92A8D1;*/
    color: #FA8072;
    padding: 10px;
    /* 添加内边距，使底框离文字有一定距离，根据需要调整 */
    margin: 25px;
}

.topnav {
    background-color: #edeced;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #4c849b;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.topnav a:hover {
    background-color: #badbf3;
    color: #fa643f;
}

.topnav a:active {
    background-color: #BC8F8F;
    color: #badbf3;
}



/*home content sation*/

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.content h2 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #4c849b;
    margin: 2rem 6rem;

}

.content p {
    width: 26rem;
    font-size: 20px;
    margin: 0 4rem;
    color: #4c849b;
}


.location-icon {
    position: fixed;
    top: 50%; /* Set position, adjust as needed */
    right: 20px; /* Adjust distance from the right */
    transform: translateY(-50%); /* Center the icon vertically */
    z-index: 1000; /* Set a higher z-index to ensure it is above other elements */
}

img {
    width: 50px; /* Set image width to 50 pixels */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Apply a circular border-radius */
}


/* footer section */

.footer {
    display: block;
    background-color: var(--footer-backgroungcolor);
}

.footer p {
    text-align: center;
    padding: 2rem;
    color: var(--font-color);
}