/* nav section */
.nav {
    display: block;
    background-color: #edeced;
    padding: 1rem 2rem;
}

header .logo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: #fa643f;
}

header .menu>ul {
    width: 100%;
    position: relative;
    font-size: 20px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 30px;
}

header .menu a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
}

.menu a:visited {
    color: #4c849b;
}

.menu a:hover {
    color: #fa643f;
}

.menu a:active {
    color: #badbf3;
}

#contact-item {
    margin-right: 0px;
}

.menu a.current {
    color: lightskyblue;
}
/* content section */

/*.content {
    display: block;
    padding: 2rem 2rem;
    overflow: auto;
}*/

/* content section */

.content {
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-info {
    text-align: center;
    margin: 20px;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* product.css */
h3 {
    color: #333;
    font-size: 28px;
    margin-top: 40px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-info {
    width: 300px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info h4 {
    color: #333;
    font-size: 20px;
    margin-top: 10px;
}

.product-info p {
    color: #666;
    font-size: 16px;
    margin-top: 5px;
}

/* footer section */

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #edeced;
    text-align: center;
    padding: 10px;
}

.footer p {
    text-align: center;
    margin-top: calc(200px - 2rem - 1.5em);
    color: #4c849b;
}