/* nav section */
.nav {
    display: block;
    background-color: #edeced;
    padding: 1rem 2rem;
}

header .logo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: #fa643f;
}

header .menu>ul {
    width: 100%;
    position: relative;
    font-size: 20px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 30px;
}

header .menu a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
}

.menu a:visited {
    color: #4c849b;
}

.menu a:hover {
    color: #fa643f;
}

.menu a:active {
    color: #badbf3;
}

#contact-item {
    margin-right: 0px;
}

.menu a.current {
    color: lightskyblue;
}

header .content>h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header .container {
    display: flex;
    padding-left: 2rem;
}

/* content section */
.content {
    display: block;
    padding: 2rem 2rem;
    overflow: auto;
}

.image {
    display: inline-block;
    width: 370px;
    height: 204px;
    vertical-align: top;
    padding-left: 0.5rem;
}

.product {
    flex: 1;
    text-align: center;
    margin: 5px;
    max-width: 400px;
    display: flex;
    align-items: center;
}

.product-info h4 {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding-left: 0.5rem;

}

.product-info>p{
    display: inline-block;
    background-color: #badbf3;
    padding: 0.75rem 0.25rem 0.75rem 0.25rem;
    width: 90%;
}

/* footer section */

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #edeced;
    text-align: center;
    padding: 10px;
}

.footer p {
    text-align: center;
    margin-top: calc(200px - 2rem - 1.5em);
    color: #4c849b;
}